@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    67.08deg,
    #1e46a3 0%,
    #000000 48.94%,
    #c12a23 99.97%
  );
}
